@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
.bg {
background-color: #f8f9fa;
background-image: url("https://asset.kompas.com/crops/Yn331T3ABD2Twkqhp_sO-K0m6Go=/429x39:5529x3439/750x500/data/photo/2021/05/10/609931bb5334c.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
* {
font-family: "Poppins";
}